body {
    height: 100%;
    width: 100%;
    background-color: #feffef;
    color: rgb(208, 142, 153);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-left: 0;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
h2 {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    color:rgb(158, 108, 116);
}

p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.grid-container {
    flex: 1;
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    max-width: 800px;
    margin: 0 auto;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    border: 4px solid rgb(189, 129, 139);;
    border-radius: 10px;
    background-color: #fefffa;
    font-size: 2em;
    font-family: monospace;
    width: 15vw;
    height:15vh;
    font-weight: bold;
}
.player2-score{
    font-size: 3em;
    color: rgb(255, 108, 133);
}
.player1-score{
    font-size: 3em;
    color: rgb(255, 108, 133);
    
}
.scoreboard-left {
    margin-top: 50vh;
    margin-right:10vw;
}

.scoreboard-right {
    margin-top: 50vh;
    margin-left:10vw;
}

.player-turn {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
    color: rgb(255, 108, 133);
    font-family:fantasy;
    font-size: 30px;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.actions button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgb(208, 142, 153);
    color: white;
}

.card:hover{
    cursor: pointer;
}

.card {
    height: calc(140px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: rgb(208, 142, 153);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.reveal-image {
    width: 100%;
    height: 210px;
    border-radius: 10px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.default,
.reveal {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .reveal {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
/*general card*/
.card .default {
    background-image: url("https://i.postimg.cc/d3Hkdnsw/Memory-Card.png");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

.box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.box-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #855757;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



